---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Planning | Storypoint calculator</title>
	</head>
	<body>
		<div class="flex justify-center items-center h-screen">
			<div class="p-7">
				<div class="flex justify-between"><span>Open</span><input class="w-12 p-1 mb-2 text-base text-gray-700 bg-white border border-gray-300 focus:outline-none focus:border-blue-500" type="number" placeholder="Nr of open issues" name="open"></div>
				<div class="flex justify-between"><span>In progress</span><input class="w-12 p-1 text-base text-gray-700 bg-white border border-gray-300 focus:outline-none focus:border-blue-500" type="number" placeholder="Nr of in progress issues" name="progress"></div>
			</div>
			<div class="jp-7">
				<div class="flex justify-between"><span class="pr-4">Roadmap:</span><span><span id="roadmap">0</span>sp</span></div>
				<div class="flex justify-between"><span class="pr-4">Requests:</span><span><span id="requests">0</span>sp</span></div>
				<div class="flex justify-between"><span class="pr-4">Technical debt:</span><span><span id="technicaldebt">0</span>sp</span></div>
				<div class="flex justify-between"><span class="pr-4">Custom adjustments:</span><span><span id="customadjustments">0</span>sp</span></div>
				<div class="flex justify-between"><span class="pr-4">Total:</span><span><span id="total">0</span>sp</span></div>
			</div>
		</div>
		<script>
			const spTotal = 144;
			const spPerOpenIssue = 3;
			const spPerProgressIssue = 1;

			const pctRoadmap = 60;
			const pctRequests = 20;
			const pctTechnicalDebt = 10;
			const pctCustomAdjustments = 10;

			document.querySelectorAll('*[name=open], *[name=progress]').forEach(e => {
				e.onchange = e => {
					calculate();
				}
			});

			calculate();

			function calculate() {
				const spToUse = spTotal - ((document.querySelector('*[name=open]').value * spPerOpenIssue) + (document.querySelector('*[name=progress]').value * spPerProgressIssue));
				
				const spRoadmap = Math.round(((spToUse * (pctRoadmap / 100)) / spToUse) * spToUse);
				const spRequests = Math.round(((spToUse * (pctRequests / 100)) / spToUse) * spToUse);
				const spTechnicalDebt = Math.round(((spToUse * (pctTechnicalDebt / 100)) / spToUse) * spToUse);
				const spCustomAdjustments = Math.round(((spToUse * (pctCustomAdjustments / 100)) / spToUse) * spToUse);

				document.querySelector('#roadmap').innerHTML = spRoadmap;
				document.querySelector('#requests').innerHTML = spRequests;
				document.querySelector('#technicaldebt').innerHTML = spTechnicalDebt;
				document.querySelector('#customadjustments').innerHTML = spCustomAdjustments;
				document.querySelector('#total').innerHTML = spRoadmap + spRequests + spTechnicalDebt + spCustomAdjustments;
			}
		</script>
	</body>
</html>
